* {
    box-sizing: border-box;
}
header{
    max-width: 500%;
    display: flexbox;
    color: blue;
}
header b {
font-size: 20px;
padding: 10px;
margin-right: 100px;
width: 100%;
margin-bottom: 20px;
justify-content: space-between;
}
header a {
    margin-inline-end: 100px;
    max-width: 500%;
    margin-inline-end: 50px;

}
img{
    width: 500px;
    padding: 40px;
    float: right;
    border-radius: 100px;
    border-width: 20%;
}
h1 b {
    color: blue;
}
button {
    background-color: rgb(23, 23, 224);
    font-size: medium;
    display: block;
    color: whitesmoke;
    max-width: 500%;
    padding: 30px;
}
h1 {
    padding: 40px;
    width: 10px;
}