* {
    box-sizing: border-box;
}
header b {
padding: 20px;
margin-right: 500px;
max-width: 500%;
}
header a {
    margin-inline-end: 10px;
}
img{
    width: 400Px;
    display: block;
    padding: 10px;
    float: right;
    border-radius: 20px;
}
h1 b {
    color: blue;
}
button {
    background-color: blue;
}